<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">

      <div class="posts">
        <% @posts.each do |post| %>
        <div class="post clearfix">
          <div class="post-details">
            <span class="post-title"><%= link_to post.name, post %></span>
            <span class="post-description"><%= post.body %></span>
            <% if signed_in? && post.user == current_user %>
            <div class="actions">
              <%= link_to "editar", edit_post_path(post) %>
              <%= link_to "eliminar", post, method: :delete, data: { confirm: "¿Estás seguro de eliminar este post?" } %>
            </div>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>